@font-face {
  font-family: MonumentExtended;
  src: url("./MonumentExtended-Ultrabold.otf") format("opentype");
}

/* Document */
* {
  -webkit-user-select: none; /* Safari, iOS, and Android */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

a {
  color: #000;
}

a:hover {
  color: #c94a4a;
}

h1, h2, h3 {
  font-family: "MonumentExtended";
  //font-size: 1.1em;
  color: #c94a4a;
}

img {
  max-width: 100%; max-height: 100%;
}

.container {
  max-width: 960px;
}

.footer {
  font-family: "MonumentExtended";
  font-size: 1.6em;
}

.no-margin {
  margin: 0;
}

.no-select {
  cursor: default;
}

.align-right {
   text-align: right;
}

/* Header */
.header {
  margin-top: 5%;
}

/* Mobile vs Desktop */
@media only screen and (max-width: 768px) {
  .align-right {
    text-align: left;
  }
}
